# Bot settings

# Login token for bot
BOT_TOKEN = ''

# Guild IDs for instant application command update
GUILD_IDS = None

# MongoDB URI
MONGO_URI = ''

# Spotify credentials
SPOTIFY_CLIENT_ID = ''
SPOTIFY_CLIENT_SECRET = ''
