# Bot settings

# Login token for bot
BOT_TOKEN = ''

# Guild IDs for instant application command update
GUILD_IDS = None

# MongoDB URI
MONGO_URI = ''

# Approval map, keys are the name of the group and values are lists of client IDs
APPROVAL_MAP = {}
